In [2]:
import pandas as pd
import numpy as np
import os
import json

In [4]:
# Read job2skill file
taskB_path = '/Users/egesualp/Documents/lmu_repos/skills4cpp/data/talent_clef/TaskB/training'

job2skill = pd.read_csv(os.path.join(taskB_path, 'job2skill.tsv'),
                        sep="\t",
                        names=["job_id","skill_id","rel_type"])
job2skill.head()

,job_id,skill_id,rel_type
0,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/93a68dcb-3dc6...,essential
1,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/05bc7677-5a64...,essential
2,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/860be36a-d19b...,essential
3,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/fed5b267-73fa...,essential
4,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/f64fe2c2-d090...,essential

In [5]:
with open(os.path.join(taskB_path,"jobid2terms.json"), 'r') as file:
    jobid2terms = json.load(file)

with open(os.path.join(taskB_path,"skillid2terms.json"), 'r') as file:
    skillid2terms = json.load(file)

In [6]:
job2skill["job_terms"] = job2skill["job_id"].map(jobid2terms)
job2skill["skill_terms"] = job2skill["skill_id"].map(skillid2terms)

In [7]:
job_id_to_search = job2skill.job_id.to_list()[8]
job_data = job2skill[job2skill.job_id == job_id_to_search]

In [9]:
job_data

,job_id,skill_id,rel_type,job_terms,skill_terms
0,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/93a68dcb-3dc6...,essential,"[technical director, technical and operations ...","[promote health and safety, promote importance..."
1,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/05bc7677-5a64...,essential,"[technical director, technical and operations ...","[organise rehearsals, organise rehearsal, orga..."
2,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/860be36a-d19b...,essential,"[technical director, technical and operations ...",[negotiate health and safety issues with third...
3,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/fed5b267-73fa...,essential,"[technical director, technical and operations ...","[theatre techniques, theatre technique, theatr..."
4,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/f64fe2c2-d090...,essential,"[technical director, technical and operations ...",[coordinate technical teams in artistic produc...
5,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/271a36a0-bc7a...,essential,"[technical director, technical and operations ...",[write risk assessment on performing arts prod...
6,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/591dd514-735b...,essential,"[technical director, technical and operations ...","[adapt to artists' creative demands, meet dema..."
7,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/47ed1d37-971b...,essential,"[technical director, technical and operations ...","[coordinate with creative departments, liaise ..."
8,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/892f8e2f-189a...,essential,"[technical director, technical and operations ...",[adapt designers’ work to the performance venu...
9,http://data.europa.eu/esco/occupation/00030d09...,http://data.europa.eu/esco/skill/a2dfc063-7b24...,optional,"[technical director, technical and operations ...","[write technical riders, collaborate for the c..."