In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 100)

In [2]:
decorte = pd.read_csv('/Users/egesualp/Documents/lmu_repos/skills4cpp/data/title_pairs_desc/decorte_train_pairs.csv')

In [30]:
esco = pd.read_csv(r'/Users/egesualp/Documents/lmu_repos/skills4cpp/data/processed/master_datasets/master_complete_hierarchy_w_occ.csv')

In [31]:
esco.columns

Index(['occupationUri', 'relationType', 'skillType_x', 'skillUri',
       'occupationLabel', 'iscoGroup', 'occupationDescription',
       'occupationCode', 'skillLabel', 'skillType_y', 'skillAltLabels',
       'reuseLevel', 'status', 'description', 'definition', 'level0_uri',
       'level0_label', 'level1_uri', 'level1_label', 'level2_uri',
       'level2_label', 'level3_uri', 'level3_label'],
      dtype='object')

In [4]:
esco = esco[~esco['level0_uri'].isna()]

In [6]:
decorte.merge(esco, left_on='esco_id', right_on='occupationUri', how='left').level1_label.value_counts()

level1_label
communication, collaboration and creativity          81615
management skills                                    58760
information skills                                   53617
business, administration and law                     41737
assisting and caring                                 25611
information and communication technologies (icts)    22422
working with computers                               13757
engineering, manufacturing and construction          13417
handling and moving                                   7602
arts and humanities                                   5948
natural sciences, mathematics and statistics          5318
health and welfare                                    4883
working with machinery and specialised equipment      4822
social sciences, journalism and information           4171
services                                              4151
constructing                                          2689
education                                             2614
generic programmes and qualifications                 2035
agriculture, forestry, fisheries and veterinary        552
classical languages                                     28
self-management skills and competences                  28
social and communication skills and competences         18
life skills and competences                             13
core skills and competences                             12
thinking skills and competences                         12
Name: count, dtype: int64

In [11]:
decorte.merge(esco, left_on='esco_id', right_on='occupationUri', how='left').groupby('level0_label').esco_id.nunique()

level0_label
knowledge                             1029
language skills and knowledge            2
skills                                1054
transversal skills and competences       7
Name: esco_id, dtype: int64

In [13]:
decorte.merge(esco, left_on='esco_id', right_on='occupationUri', how='left').groupby('level1_label').esco_id.nunique().sort_values()

level1_label
thinking skills and competences                         2
classical languages                                     2
social and communication skills and competences         3
life skills and competences                             3
self-management skills and competences                  4
core skills and competences                             4
agriculture, forestry, fisheries and veterinary        43
generic programmes and qualifications                 137
education                                             151
health and welfare                                    223
constructing                                          238
social sciences, journalism and information           257
arts and humanities                                   258
natural sciences, mathematics and statistics          335
information and communication technologies (icts)     354
working with machinery and specialised equipment      361
services                                              375
handling and moving                                   382
engineering, manufacturing and construction           497
working with computers                                595
business, administration and law                      816
assisting and caring                                  869
management skills                                     963
information skills                                   1024
communication, collaboration and creativity          1044
Name: esco_id, dtype: int64

In [ ]:
decorte.merge(esco, left_on='esco_id', right_on='occupationUri', how='left').groupby('level2_label').esco_id.nunique().sort_values()

level2_label
processing information, ideas and concepts                   1
dealing with problems                                        1
maintaining a positive attitude                              1
taking a proactive approach                                  1
supporting others                                            2
                                                          ...
documenting and recording information                      694
business and administration                                697
organising, planning and scheduling work and activities    703
protecting and enforcing                                   817
liaising and networking                                    825
Name: esco_id, Length: 120, dtype: int64

In [8]:
decorte.merge(esco, left_on='esco_id', right_on='occupationUri', how='left').level3_label.value_counts()

level3_label
software and applications development and analysis     13468
management and administration                          11764
marketing and advertising                               7183
developing professional relationships or networks       7161
law                                                     6825
                                                       ...
installing interior or exterior infrastructure             3
performing administrative activities                       2
preparing and serving food and drinks                      1
operating wood processing and papermaking machinery        1
handling animals                                           1
Name: count, Length: 389, dtype: int64

In [14]:
df = decorte.merge(esco, left_on='esco_id', right_on='occupationUri', how='left')

In [23]:
# Group by occupationUri and count skills at each level
skill_counts_per_occupation = df.groupby('occupationUri').agg({
    'level0_label': 'nunique',
    'level1_label': 'nunique', 
    'level2_label': 'nunique',
    'level3_label': 'nunique'
}).rename(columns={
    'level0_label': 'level0_skill_count',
    'level1_label': 'level1_skill_count',
    'level2_label': 'level2_skill_count', 
    'level3_label': 'level3_skill_count'
})

# Calculate statistics for each level
print("Statistics for number of skills per occupation at each level:")
print("=" * 60)

for level in ['level0', 'level1', 'level2', 'level3']:
    col_name = f'{level}_skill_count'
    stats = skill_counts_per_occupation[col_name].describe()
    print(f"\n{level.upper()} Skills per Occupation:")
    print(f"Mean: {stats['mean']:.2f}")
    print(f"Median: {stats['50%']:.2f}")
    print(f"Min: {stats['min']:.0f}")
    print(f"Max: {stats['max']:.0f}")
    print(f"Std: {stats['std']:.2f}")
    print(f"25th percentile: {stats['25%']:.2f}")
    print(f"75th percentile: {stats['75%']:.2f}")
    print(f"Available # of categories: {df[f'{level}_label'].nunique()}")

# Display the skill counts dataframe
print(f"\nSkill counts per occupation (showing first 10 rows):")
print(skill_counts_per_occupation.head(10))

Statistics for number of skills per occupation at each level:
============================================================

LEVEL0 Skills per Occupation:
Mean: 1.98
Median: 2.00
Min: 1
Max: 3
Std: 0.18
25th percentile: 2.00
75th percentile: 2.00
Available # of categories: 4

LEVEL1 Skills per Occupation:
Mean: 8.48
Median: 8.00
Min: 3
Max: 18
Std: 2.33
25th percentile: 7.00
75th percentile: 10.00
Available # of categories: 25

LEVEL2 Skills per Occupation:
Mean: 20.26
Median: 19.00
Min: 5
Max: 61
Std: 7.02
25th percentile: 15.25
75th percentile: 24.00
Available # of categories: 120

LEVEL3 Skills per Occupation:
Mean: 28.92
Median: 26.00
Min: 5
Max: 122
Std: 13.00
25th percentile: 21.00
75th percentile: 33.00
Available # of categories: 389

Skill counts per occupation (showing first 10 rows):
                                                    level0_skill_count  \
occupationUri
http://data.europa.eu/esco/occupation/0019b951-...                   2
http://data.europa.eu/esco/occupation/002da35b-...                   2
http://data.europa.eu/esco/occupation/0044c991-...                   2
http://data.europa.eu/esco/occupation/00674f21-...                   2
http://data.europa.eu/esco/occupation/00ab5610-...                   2
http://data.europa.eu/esco/occupation/01484951-...                   2
http://data.europa.eu/esco/occupation/01a83071-...                   2
http://data.europa.eu/esco/occupation/01bcac9f-...                   2
http://data.europa.eu/esco/occupation/01ffb917-...                   2
http://data.europa.eu/esco/occupation/021663ca-...                   2

                                                    level1_skill_count  \
occupationUri
http://data.europa.eu/esco/occupation/0019b951-...                  12
http://data.europa.eu/esco/occupation/002da35b-...                   5
http://data.europa.eu/esco/occupation/0044c991-...                  10
http://data.europa.eu/esco/occupation/00674f21-...                   8
http://data.europa.eu/esco/occupation/00ab5610-...                   8
http://data.europa.eu/esco/occupation/01484951-...                   9
http://data.europa.eu/esco/occupation/01a83071-...                   6
http://data.europa.eu/esco/occupation/01bcac9f-...                   9
http://data.europa.eu/esco/occupation/01ffb917-...                  11
http://data.europa.eu/esco/occupation/021663ca-...                   7

                                                    level2_skill_count  \
occupationUri
http://data.europa.eu/esco/occupation/0019b951-...                  20
http://data.europa.eu/esco/occupation/002da35b-...                  15
http://data.europa.eu/esco/occupation/0044c991-...                  22
http://data.europa.eu/esco/occupation/00674f21-...                  18
http://data.europa.eu/esco/occupation/00ab5610-...                  14
http://data.europa.eu/esco/occupation/01484951-...                  26
http://data.europa.eu/esco/occupation/01a83071-...                  17
http://data.europa.eu/esco/occupation/01bcac9f-...                  13
http://data.europa.eu/esco/occupation/01ffb917-...                  30
http://data.europa.eu/esco/occupation/021663ca-...                  12

                                                    level3_skill_count
occupationUri
http://data.europa.eu/esco/occupation/0019b951-...                  28
http://data.europa.eu/esco/occupation/002da35b-...                  20
http://data.europa.eu/esco/occupation/0044c991-...                  30
http://data.europa.eu/esco/occupation/00674f21-...                  28
http://data.europa.eu/esco/occupation/00ab5610-...                  18
http://data.europa.eu/esco/occupation/01484951-...                  39
http://data.europa.eu/esco/occupation/01a83071-...                  23
http://data.europa.eu/esco/occupation/01bcac9f-...                  15
http://data.europa.eu/esco/occupation/01ffb917-...                  44
http://data.europa.eu/esco/occupation/021663ca-...                  16

In [16]:
# Group by occupationUri and count appearances of each level
level_appearances_per_occupation = df.groupby('occupationUri').agg({
    'level0_label': 'count',
    'level1_label': 'count', 
    'level2_label': 'count',
    'level3_label': 'count'
}).rename(columns={
    'level0_label': 'level0_appearances',
    'level1_label': 'level1_appearances',
    'level2_label': 'level2_appearances', 
    'level3_label': 'level3_appearances'
})

# Calculate statistics for level appearances
print("Statistics for number of level appearances per occupation:")
print("=" * 60)

for level in ['level0', 'level1', 'level2', 'level3']:
    col_name = f'{level}_appearances'
    stats = level_appearances_per_occupation[col_name].describe()
    print(f"\n{level.upper()} Appearances per Occupation:")
    print(f"Mean: {stats['mean']:.2f}")
    print(f"Median: {stats['50%']:.2f}")
    print(f"Min: {stats['min']:.0f}")
    print(f"Max: {stats['max']:.0f}")
    print(f"Std: {stats['std']:.2f}")
    print(f"25th percentile: {stats['25%']:.2f}")
    print(f"75th percentile: {stats['75%']:.2f}")

# Display the level appearances dataframe
print(f"\nLevel appearances per occupation (showing first 10 rows):")
print(level_appearances_per_occupation.head(10))

# Show overall averages
print(f"\nOverall averages:")
for level in ['level0', 'level1', 'level2', 'level3']:
    col_name = f'{level}_appearances'
    avg = level_appearances_per_occupation[col_name].mean()
    print(f"On average, 1 occupation has {avg:.2f} {level} appearances")

Statistics for number of level appearances per occupation:
============================================================

LEVEL0 Appearances per Occupation:
Mean: 337.60
Median: 100.00
Min: 11
Max: 11297
Std: 854.03
25th percentile: 47.00
75th percentile: 275.00

LEVEL1 Appearances per Occupation:
Mean: 337.60
Median: 100.00
Min: 11
Max: 11297
Std: 854.03
25th percentile: 47.00
75th percentile: 275.00

LEVEL2 Appearances per Occupation:
Mean: 337.57
Median: 100.00
Min: 11
Max: 11297
Std: 854.03
25th percentile: 47.00
75th percentile: 275.00

LEVEL3 Appearances per Occupation:
Mean: 337.50
Median: 100.00
Min: 11
Max: 11297
Std: 854.00
25th percentile: 47.00
75th percentile: 275.00

Level appearances per occupation (showing first 10 rows):
                                                    level0_appearances  \
occupationUri
http://data.europa.eu/esco/occupation/0019b951-...                  43
http://data.europa.eu/esco/occupation/002da35b-...                  87
http://data.europa.eu/esco/occupation/0044c991-...                 216
http://data.europa.eu/esco/occupation/00674f21-...                 630
http://data.europa.eu/esco/occupation/00ab5610-...                  28
http://data.europa.eu/esco/occupation/01484951-...                2756
http://data.europa.eu/esco/occupation/01a83071-...                 640
http://data.europa.eu/esco/occupation/01bcac9f-...                  46
http://data.europa.eu/esco/occupation/01ffb917-...                  67
http://data.europa.eu/esco/occupation/021663ca-...                  29

                                                    level1_appearances  \
occupationUri
http://data.europa.eu/esco/occupation/0019b951-...                  43
http://data.europa.eu/esco/occupation/002da35b-...                  87
http://data.europa.eu/esco/occupation/0044c991-...                 216
http://data.europa.eu/esco/occupation/00674f21-...                 630
http://data.europa.eu/esco/occupation/00ab5610-...                  28
http://data.europa.eu/esco/occupation/01484951-...                2756
http://data.europa.eu/esco/occupation/01a83071-...                 640
http://data.europa.eu/esco/occupation/01bcac9f-...                  46
http://data.europa.eu/esco/occupation/01ffb917-...                  67
http://data.europa.eu/esco/occupation/021663ca-...                  29

                                                    level2_appearances  \
occupationUri
http://data.europa.eu/esco/occupation/0019b951-...                  43
http://data.europa.eu/esco/occupation/002da35b-...                  87
http://data.europa.eu/esco/occupation/0044c991-...                 216
http://data.europa.eu/esco/occupation/00674f21-...                 630
http://data.europa.eu/esco/occupation/00ab5610-...                  28
http://data.europa.eu/esco/occupation/01484951-...                2756
http://data.europa.eu/esco/occupation/01a83071-...                 640
http://data.europa.eu/esco/occupation/01bcac9f-...                  46
http://data.europa.eu/esco/occupation/01ffb917-...                  67
http://data.europa.eu/esco/occupation/021663ca-...                  29

                                                    level3_appearances
occupationUri
http://data.europa.eu/esco/occupation/0019b951-...                  43
http://data.europa.eu/esco/occupation/002da35b-...                  87
http://data.europa.eu/esco/occupation/0044c991-...                 216
http://data.europa.eu/esco/occupation/00674f21-...                 630
http://data.europa.eu/esco/occupation/00ab5610-...                  28
http://data.europa.eu/esco/occupation/01484951-...                2756
http://data.europa.eu/esco/occupation/01a83071-...                 640
http://data.europa.eu/esco/occupation/01bcac9f-...                  46
http://data.europa.eu/esco/occupation/01ffb917-...                  67
http://data.europa.eu/esco/occupation/021663ca-...                  29

Overall averages:
On average, 1 occupation has 337.60 level0 appearances
On average, 1 occupation has 337.60 level1 appearances
On average, 1 occupation has 337.57 level2 appearances
On average, 1 occupation has 337.50 level3 appearances

In [17]:
df.groupby('level0_label').occupationUri.nunique()

level0_label
knowledge                             1029
language skills and knowledge            2
skills                                1054
transversal skills and competences       7
Name: occupationUri, dtype: int64

In [22]:
skill_counts_per_occupation

,level0_skill_count,level1_skill_count,level2_skill_count,level3_skill_count
occupationUri,,,,
http://data.europa.eu/esco/occupation/0019b951-c699-4191-8208-9822882d150c,2,12,20,28
http://data.europa.eu/esco/occupation/002da35b-7808-43f3-83bf-63596b8b351f,2,5,15,20
http://data.europa.eu/esco/occupation/0044c991-c26f-4261-a213-4bd1c0564a4c,2,10,22,30
http://data.europa.eu/esco/occupation/00674f21-2f8f-4a41-9896-133f7cbe2a6e,2,8,18,28
http://data.europa.eu/esco/occupation/00ab5610-e715-428f-99f6-b1e5e469dbcd,2,8,14,18
...,...,...,...,...
http://data.europa.eu/esco/occupation/fdfce14e-992d-4ff4-9f9d-7a353c75654e,2,5,14,22
http://data.europa.eu/esco/occupation/fe0fa514-b48d-4a53-9757-a283c0baacf0,2,8,19,25
http://data.europa.eu/esco/occupation/ff142063-f89d-446d-92ac-9a3a124210a0,2,12,25,38
http://data.europa.eu/esco/occupation/ff2c1183-3fd7-40c7-8ddc-b20b100363c3,2,8,28,43
http://data.europa.eu/esco/occupation/ffade2f4-2528-4dfd-b36a-6e4092be08ed,2,7,17,23