In [3]:
import pandas as pd
import numpy as np

In [4]:
df_new = pd.read_csv('../data/processed/master_datasets_2/master_complete_hierarchy_w_occ.csv')

/tmp/ipykernel_1265953/4272898541.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_new = pd.read_csv('../data/processed/master_datasets_2/master_complete_hierarchy_w_occ.csv')

In [5]:
df_h = pd.read_csv('../data/processed/master_datasets_2/master_skill_complete_hierarchy.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../data/processed/master_datasets_2/master_skill_complete_hierarchy.csv'

In [ ]:
df_new.shape

(229540, 27)

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229540 entries, 0 to 229539
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   occupationUri          229540 non-null  object
 1   relationType           229540 non-null  object
 2   skillType_x            229481 non-null  object
 3   skillUri               229540 non-null  object
 4   occupationLabel        229540 non-null  object
 5   iscoGroup              229540 non-null  int64
 6   occupationDescription  229540 non-null  object
 7   occupationCode         229540 non-null  object
 8   skillLabel             229540 non-null  object
 9   skillType_y            229481 non-null  object
 10  skillAltLabels         220823 non-null  object
 11  reuseLevel             229481 non-null  object
 12  status                 229540 non-null  object
 13  description            229540 non-null  object
 14  definition             11 non-null      object
 15  pillar_uri             229540 non-null  object
 16  pillar_label           229540 non-null  object
 17  parent_uri             229540 non-null  object
 18  parent_label           229540 non-null  object
 19  full_path_uris         229540 non-null  object
 20  full_path_labels       229540 non-null  object
 21  level1_uri             229540 non-null  object
 22  level1_label           229540 non-null  object
 23  level2_uri             229519 non-null  object
 24  level2_label           229519 non-null  object
 25  level3_uri             229478 non-null  object
 26  level3_label           229478 non-null  object
dtypes: int64(1), object(26)
memory usage: 47.3+ MB

In [ ]:
df_h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24150 entries, 0 to 24149
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   skillUri          24150 non-null  object
 1   skillLabel        24150 non-null  object
 2   skillType         24145 non-null  object
 3   skillAltLabels    23370 non-null  object
 4   reuseLevel        24145 non-null  object
 5   status            24150 non-null  object
 6   description       24150 non-null  object
 7   definition        3 non-null      object
 8   pillar_uri        24150 non-null  object
 9   pillar_label      24150 non-null  object
 10  parent_uri        24150 non-null  object
 11  parent_label      24150 non-null  object
 12  full_path_uris    24150 non-null  object
 13  full_path_labels  24150 non-null  object
 14  level1_uri        24150 non-null  object
 15  level1_label      24150 non-null  object
 16  level2_uri        24077 non-null  object
 17  level2_label      24077 non-null  object
 18  level3_uri        23621 non-null  object
 19  level3_label      23621 non-null  object
dtypes: object(20)
memory usage: 3.7+ MB

In [ ]:
df_new.query('skillType_x != skillType_y').iloc[0]

occupationUri            http://data.europa.eu/esco/occupation/0464b062...
relationType                                                     essential
skillType_x                                                            NaN
skillUri                 http://data.europa.eu/esco/skill/426ceaba-6867...
occupationLabel                                 ICT security administrator
iscoGroup                                                             2529
occupationDescription    ICT security administrators plan and carry out...
occupationCode                                                      2529.6
skillLabel                                                      ICT safety
skillType_y                                                            NaN
skillAltLabels           ICT protection\ninformation and communication ...
reuseLevel                                                             NaN
status                                                            released
description              Personal protection, data protection, digital ...
definition                                                             NaN
pillar_uri               http://data.europa.eu/esco/skill/335228d2-297d...
pillar_label                                                        skills
parent_uri               http://data.europa.eu/esco/skill/185c56ee-098f...
parent_label                                        protecting ict devices
full_path_uris           http://data.europa.eu/esco/skill/335228d2-297d...
full_path_labels         skills | working with computers | setting up a...
level1_uri               http://data.europa.eu/esco/skill/243eb885-07c7...
level1_label                                        working with computers
level2_uri               http://data.europa.eu/esco/skill/75c1ab73-5b00...
level2_label                    setting up and protecting computer systems
level3_uri               http://data.europa.eu/esco/skill/185c56ee-098f...
level3_label                                        protecting ict devices
Name: 4434, dtype: object

In [ ]:
df_new.columns

Index(['occupationUri', 'relationType', 'skillType_x', 'skillUri',
       'occupationLabel', 'iscoGroup', 'occupationDescription',
       'occupationCode', 'skillLabel', 'skillType_y', 'skillAltLabels',
       'reuseLevel', 'status', 'description', 'definition', 'pillar_uri',
       'pillar_label', 'parent_uri', 'parent_label', 'full_path_uris',
       'full_path_labels', 'level1_uri', 'level1_label', 'level2_uri',
       'level2_label', 'level3_uri', 'level3_label'],
      dtype='object')

In [ ]:
df_new[['skillLabel', 'pillar_uri',
       'pillar_label', 'parent_uri', 'parent_label', 'full_path_uris',
       'full_path_labels', 'level1_uri', 'level1_label', 'level2_uri',
       'level2_label', 'level3_uri', 'level3_label']].drop_duplicates().query(
        "skillLabel == 'Python (computer programming)'"
       ).iloc[0,6]

'knowledge | information and communication technologies (icts) | information and communication technologies (icts) | software and applications development and analysis'

In [ ]:
df_new[['skillLabel', 'pillar_uri',
       'pillar_label', 'parent_uri', 'parent_label', 'full_path_uris',
       'full_path_labels', 'level1_uri', 'level1_label', 'level2_uri',
       'level2_label', 'level3_uri', 'level3_label']].drop_duplicates().query(
        "skillLabel == 'Python (computer programming)'"
       ).iloc[1,6]

'knowledge | information and communication technologies (icts) | information and communication technologies (icts) | software and applications development and analysis | computer programming'

In [1]:
# decorte in different format
import pandas as pd
df = pd.read_csv("/dss/dsshome1/02/ra95kix2/thesis/skills4cpp/data/title_pairs_desc/decorte_test_pairs.csv")

In [2]:
df.query('raw_title == "Consultant"').iloc[:,:4]

,raw_title,raw_description,esco_title,esco_description
398,Consultant,Led an experience design initiative to underst...,business consultant,"Business consultants analyse the position, str..."
402,Consultant,Conducted market research and prepared a busin...,market research analyst,Market research analysts collect the informati...
405,Consultant,"Projects: ETGIS, Leak Repair, Cathodic Protect...",business analyst,Business analysts research and understand the ...
409,Consultant,Provided analysis and assistance in various ta...,tax advisor,Tax advisors use their expertise in tax legisl...
421,Consultant,Worked as a consultant at a publicly traded di...,ICT consultant,ICT consultants provide advice on how to optim...
425,Consultant,Working as a Functional Consultant in the SAP ...,ICT business analyst,ICT business analysts are in charge of analysi...
432,Consultant,Creating and developing national programming f...,radio producer,Radio producers are responsible for organising...

In [6]:
df_esco = pd.read_csv('../data/processed/master_datasets_2/master_complete_hierarchy_w_occ.csv')

/tmp/ipykernel_1265953/2024523705.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_esco = pd.read_csv('../data/processed/master_datasets_2/master_complete_hierarchy_w_occ.csv')

In [7]:
df.merge(df_esco, left_on='esco_id', right_on='occupationUri').raw_title.nunique()

840

In [12]:
df.merge(df_skills_occ, left_on='esco_id', right_on='occupationUri', how='left').raw_title.nunique()

841

In [13]:
df.raw_title.count()

np.int64(926)

In [9]:
df_skills = pd.read_csv(r"/dss/dsshome1/02/ra95kix2/thesis/skills4cpp/data/esco_datasets/skills_en.csv")

In [10]:
df_skills_occ = pd.read_csv(r"/dss/dsshome1/02/ra95kix2/thesis/skills4cpp/data/esco_datasets/occupationSkillRelations_en.csv")

In [11]:
df_skills_occ.skillUri.nunique()

13492

In [19]:
df_skills_occ

,occupationUri,relationType,skillType,skillUri
0,http://data.europa.eu/esco/occupation/00030d09...,essential,knowledge,http://data.europa.eu/esco/skill/fed5b267-73fa...
1,http://data.europa.eu/esco/occupation/00030d09...,essential,skill/competence,http://data.europa.eu/esco/skill/05bc7677-5a64...
2,http://data.europa.eu/esco/occupation/00030d09...,essential,skill/competence,http://data.europa.eu/esco/skill/271a36a0-bc7a...
3,http://data.europa.eu/esco/occupation/00030d09...,essential,skill/competence,http://data.europa.eu/esco/skill/47ed1d37-971b...
4,http://data.europa.eu/esco/occupation/00030d09...,essential,skill/competence,http://data.europa.eu/esco/skill/591dd514-735b...
...,...,...,...,...
128999,http://data.europa.eu/esco/occupation/ffc292f1...,optional,skill/competence,http://data.europa.eu/esco/skill/df487cde-38d4...
129000,http://data.europa.eu/esco/occupation/ffc292f1...,optional,skill/competence,http://data.europa.eu/esco/skill/e975b791-b488...
129001,http://data.europa.eu/esco/occupation/ffc292f1...,optional,skill/competence,http://data.europa.eu/esco/skill/ed938748-60ae...
129002,http://data.europa.eu/esco/occupation/ffc292f1...,optional,skill/competence,http://data.europa.eu/esco/skill/f30a7ea4-77dd...
129003,http://data.europa.eu/esco/occupation/ffc292f1...,optional,skill/competence,http://data.europa.eu/esco/skill/fd60bbcc-c3b6...

In [18]:
df_esco.shape

(229540, 27)

In [5]:
df_skills.conceptUri.nunique()

13939

In [8]:
df_skills.preferredLabel.nunique()

13939

In [9]:
df_skills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13939 entries, 0 to 13938
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   conceptType     13939 non-null  object
 1   conceptUri      13939 non-null  object
 2   skillType       13934 non-null  object
 3   reuseLevel      13934 non-null  object
 4   preferredLabel  13939 non-null  object
 5   altLabels       13591 non-null  object
 6   hiddenLabels    153 non-null    object
 7   status          13939 non-null  object
 8   modifiedDate    13939 non-null  object
 9   scopeNote       234 non-null    object
 10  definition      3 non-null      object
 11  inScheme        13939 non-null  object
 12  description     13939 non-null  object
dtypes: object(13)
memory usage: 1.4+ MB

In [13]:
df_esco.skillUri.nunique()

13492

In [38]:
res = pd.read_csv(r"/dss/dsshome1/02/ra95kix2/thesis/skills4cpp/results/master_results.csv", sep=',', quoting=1)

ParserError: Error tokenizing data. C error: Expected 36 fields in line 7, saw 39