In [2]:
import pandas as pd
import numpy as np
import os

In [21]:
# iterate over all files in data/title_pairs, save dataframes in a dictionary
title_pairs = {}
for file in os.listdir('../data/title_pairs'):
    title_pairs[file] = pd.read_csv(f'../data/title_pairs/{file}')

In [22]:
# print current path
title_pairs.keys()

dict_keys(['karrierewege_plus_occ_train_pairs.csv', 'decorte_val_pairs.csv', 'karrierewege_plus_cp_train_pairs.csv', 'karrierewege_plus_occ_val_pairs.csv', 'karrierewege_plus_occ_test_pairs.csv', 'karrierewege_plus_cp_test_pairs.csv', 'decorte_test_pairs.csv', 'talent_clef_pairs.csv', 'karrierewege_plus_cp_val_pairs.csv', 'decorte_train_pairs.csv'])

In [23]:
# print column names of the dataframes
for key in title_pairs.keys():
    print(key)
    print(title_pairs[key].columns)
    print("--------------------------------")

karrierewege_plus_occ_train_pairs.csv
Index(['raw_title', 'esco_title', 'esco_id'], dtype='object')
--------------------------------
decorte_val_pairs.csv
Index(['raw_title', 'esco_title', 'esco_id'], dtype='object')
--------------------------------
karrierewege_plus_cp_train_pairs.csv
Index(['raw_title', 'esco_title', 'esco_id'], dtype='object')
--------------------------------
karrierewege_plus_occ_val_pairs.csv
Index(['raw_title', 'esco_title', 'esco_id'], dtype='object')
--------------------------------
karrierewege_plus_occ_test_pairs.csv
Index(['raw_title', 'esco_title', 'esco_id'], dtype='object')
--------------------------------
karrierewege_plus_cp_test_pairs.csv
Index(['raw_title', 'esco_title', 'esco_id'], dtype='object')
--------------------------------
decorte_test_pairs.csv
Index(['raw_title', 'esco_title', 'esco_id'], dtype='object')
--------------------------------
talent_clef_pairs.csv
Index(['esco_id', 'raw_title'], dtype='object')
--------------------------------
karrierewege_plus_cp_val_pairs.csv
Index(['raw_title', 'esco_title', 'esco_id'], dtype='object')
--------------------------------
decorte_train_pairs.csv
Index(['raw_title', 'esco_title', 'esco_id'], dtype='object')
--------------------------------

In [26]:
# concat all dataframes in title_pairs, add column with filename = key
for key in title_pairs.keys():
    title_pairs[key]['filename'] = key

all_pairs = pd.concat(title_pairs.values(), ignore_index=True)

In [28]:
pool = pd.read_csv('../data/occupations_en.csv')
all_pairs = all_pairs.merge(pool[['conceptUri', 'preferredLabel']], left_on='esco_id', right_on='conceptUri', how='left')
all_pairs.head()

,raw_title,esco_title,esco_id,filename,conceptUri,preferredLabel
0,Interface Developer,integration engineer,http://data.europa.eu/esco/occupation/07e60525...,karrierewege_plus_occ_train_pairs.csv,http://data.europa.eu/esco/occupation/07e60525...,integration engineer
1,Railroad Development Engineer,rail project engineer,http://data.europa.eu/esco/occupation/3f3748a7...,karrierewege_plus_occ_train_pairs.csv,http://data.europa.eu/esco/occupation/3f3748a7...,rail project engineer
2,Public Safety Investigator,police inspector,http://data.europa.eu/esco/occupation/ce2b8609...,karrierewege_plus_occ_train_pairs.csv,http://data.europa.eu/esco/occupation/ce2b8609...,police inspector
3,AI Systems Developer,artificial intelligence engineer,http://data.europa.eu/esco/occupation/35553663...,karrierewege_plus_occ_train_pairs.csv,http://data.europa.eu/esco/occupation/35553663...,artificial intelligence engineer
4,In-Home Care Provider,residential home adult care worker,http://data.europa.eu/esco/occupation/78f474ae...,karrierewege_plus_occ_train_pairs.csv,http://data.europa.eu/esco/occupation/78f474ae...,residential home adult care worker

In [29]:
# check conceptUri coverage by filename
coverage = all_pairs.groupby('filename')['conceptUri'].apply(lambda x: (x.notna().sum() / len(x)) * 100)
print("Coverage of conceptUri by filename (%):")
print(coverage)

Coverage of conceptUri by filename (%):
filename
decorte_test_pairs.csv                    99.892009
decorte_train_pairs.csv                   99.983774
decorte_val_pairs.csv                    100.000000
karrierewege_plus_cp_test_pairs.csv      100.000000
karrierewege_plus_cp_train_pairs.csv     100.000000
karrierewege_plus_cp_val_pairs.csv       100.000000
karrierewege_plus_occ_test_pairs.csv     100.000000
karrierewege_plus_occ_train_pairs.csv    100.000000
karrierewege_plus_occ_val_pairs.csv      100.000000
talent_clef_pairs.csv                    100.000000
Name: conceptUri, dtype: float64

In [31]:
all_pairs.groupby('filename').count()

,raw_title,esco_title,esco_id,conceptUri,preferredLabel
filename,,,,,
decorte_test_pairs.csv,926,926,926,925,925
decorte_train_pairs.csv,6163,6163,6163,6162,6162
decorte_val_pairs.csv,841,841,841,841,841
karrierewege_plus_cp_test_pairs.csv,14953,14953,14953,14953,14953
karrierewege_plus_cp_train_pairs.csv,67141,67141,67141,67141,67141
karrierewege_plus_cp_val_pairs.csv,15102,15102,15102,15102,15102
karrierewege_plus_occ_test_pairs.csv,3428,3428,3428,3428,3428
karrierewege_plus_occ_train_pairs.csv,6130,6130,6130,6130,6130
karrierewege_plus_occ_val_pairs.csv,3466,3466,3466,3466,3466
talent_clef_pairs.csv,57760,0,57760,57760,57760

In [19]:
# for each dataframe in title_pairs, map pool with conceptUri column
for key in title_pairs.keys():
    title_pairs[key] = title_pairs[key].merge(pool, left_on='esco_id', right_on='conceptUri', how='left')

In [20]:
title_pairs['karrierewege_plus_cp_test_pairs.csv'].head()

,raw_title,esco_title,esco_id,conceptType,conceptUri,iscoGroup,preferredLabel,altLabels,hiddenLabels,status,modifiedDate,regulatedProfessionNote,scopeNote,definition,inScheme,description,code
0,Agricultural Production Associate,crop production worker,http://data.europa.eu/esco/occupation/c9191f7f...,Occupation,http://data.europa.eu/esco/occupation/c9191f7f...,9213,crop production worker,farm worker\nfarm hand\ngrowing worker\ncrop w...,NaN,released,2024-01-23T10:51:59.37Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/memb...,Crop production workers carry out practical ac...,9213.1
1,Educator for Students with Disabilities,special educational needs teacher secondary sc...,http://data.europa.eu/esco/occupation/034cad59...,Occupation,http://data.europa.eu/esco/occupation/034cad59...,2352,special educational needs teacher secondary sc...,teacher in special educational needs in second...,NaN,released,2024-01-12T13:41:37.173Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/memb...,Special educational needs teachers at secondar...,2352.1.6
2,Sawmill Worker,metal sawing machine operator,http://data.europa.eu/esco/occupation/3a8a7f87...,Occupation,http://data.europa.eu/esco/occupation/3a8a7f87...,7223,metal sawing machine operator,cut-off operative\nmetal cut-off saw operator\...,NaN,released,2024-01-23T14:46:35.986Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/memb...,Metal sawing machine operators set up and oper...,7223.4.5
3,Top Executive,department manager,http://data.europa.eu/esco/occupation/94e0bedd...,Occupation,http://data.europa.eu/esco/occupation/94e0bedd...,1219,department manager,business unit coordinator\nunit manager\nunit ...,NaN,released,2024-01-22T11:53:48.922Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/occu...,Department managers are responsible for the op...,1219.4
4,Product Assurance Specialist,quality engineering technician,http://data.europa.eu/esco/occupation/998a0bf4...,Occupation,http://data.europa.eu/esco/occupation/998a0bf4...,3119,quality engineering technician,quality technologist\nquality engineering tech...,NaN,released,2023-06-01T10:47:06.518Z,http://data.europa.eu/esco/regulated-professio...,Excludes people performing the evaluation of t...,NaN,http://data.europa.eu/esco/concept-scheme/memb...,Quality engineering technicians work with qual...,3119.16

In [1]:
import pandas as pd

In [4]:
df_pool_1 = pd.read_csv('../data/occupations_en.csv')
df_pool_2 = pd.read_csv('../data/esco_datasets/occupations_en.csv')

In [3]:
df_pool_1 = df_pool_1[['conceptUri', 'preferredLabel']]
df_pool_2 = df_pool_2[['conceptUri', 'preferredLabel']]

In [4]:
# check if df_pool_1 and df_pool_2 same
df_pool_1.equals(df_pool_2)

True

In [5]:
df_pool_1.shape

(3039, 2)

In [6]:
df_pool_2.shape

(3039, 2)

In [15]:
# check if df_pool_1 has the same content as df_pool_2 (nothing different)
df_pool_1.sort_values(by='preferredLabel').equals(df_pool_2.sort_values(by='preferredLabel'))

True

In [20]:
df_pool_1.query("preferredLabel == 'Doctoral Student'")
# find something like 'doctoral%'
df_pool_1.query("preferredLabel.str.contains('doc')")

,conceptUri,preferredLabel
155,http://data.europa.eu/esco/occupation/0c041d1e...,doctors' surgery assistant
1192,http://data.europa.eu/esco/occupation/5fd2980e...,ICT documentation manager
1924,http://data.europa.eu/esco/occupation/9b889f07...,specialised doctor
2852,http://data.europa.eu/esco/occupation/ef5b17a5...,document management officer

In [27]:
df_talent_clef = pd.read_csv('../data/title_pairs/talent_clef_pairs.csv')

In [28]:
df_talent_clef.head()

,esco_id,raw_title
0,http://data.europa.eu/esco/occupation/f2cc5978...,air commodore
1,http://data.europa.eu/esco/occupation/f2cc5978...,command and control officer
2,http://data.europa.eu/esco/occupation/f2cc5978...,air commodore
3,http://data.europa.eu/esco/occupation/f2cc5978...,pilot officer
4,http://data.europa.eu/esco/occupation/f2cc5978...,royal airforce officer

In [35]:
df_pool_1.query("preferredLabel.str.contains('officer')")

,conceptUri,preferredLabel
19,http://data.europa.eu/esco/occupation/01205776...,housing policy officer
182,http://data.europa.eu/esco/occupation/0ddbf393...,chief marketing officer
227,http://data.europa.eu/esco/occupation/1185cfe1...,environmental education officer
277,http://data.europa.eu/esco/occupation/1619d7f3...,data protection officer
298,http://data.europa.eu/esco/occupation/17e39591...,officer of the watch
...,...,...
2938,http://data.europa.eu/esco/occupation/f7450c1f...,foreign affairs officer
2943,http://data.europa.eu/esco/occupation/f817aab2...,education policy officer
2945,http://data.europa.eu/esco/occupation/f83f19ca...,mine safety officer
3022,http://data.europa.eu/esco/occupation/fdf7b000...,recreation policy officer
3037,http://data.europa.eu/esco/occupation/ffade2f4...,civil service administrative officer

In [36]:
df_talent_clef.merge(df_pool_1, left_on='esco_id', right_on='conceptUri', how='left')

,esco_id,raw_title,conceptUri,preferredLabel
0,http://data.europa.eu/esco/occupation/f2cc5978...,air commodore,http://data.europa.eu/esco/occupation/f2cc5978...,air force officer
1,http://data.europa.eu/esco/occupation/f2cc5978...,command and control officer,http://data.europa.eu/esco/occupation/f2cc5978...,air force officer
2,http://data.europa.eu/esco/occupation/f2cc5978...,air commodore,http://data.europa.eu/esco/occupation/f2cc5978...,air force officer
3,http://data.europa.eu/esco/occupation/f2cc5978...,pilot officer,http://data.europa.eu/esco/occupation/f2cc5978...,air force officer
4,http://data.europa.eu/esco/occupation/f2cc5978...,royal airforce officer,http://data.europa.eu/esco/occupation/f2cc5978...,air force officer
...,...,...,...,...
57755,http://data.europa.eu/esco/occupation/7f346896...,usher supervisor,http://data.europa.eu/esco/occupation/7f346896...,usher
57756,http://data.europa.eu/esco/occupation/7f346896...,court usher,http://data.europa.eu/esco/occupation/7f346896...,usher
57757,http://data.europa.eu/esco/occupation/7f346896...,usher,http://data.europa.eu/esco/occupation/7f346896...,usher
57758,http://data.europa.eu/esco/occupation/7f346896...,court usher,http://data.europa.eu/esco/occupation/7f346896...,usher
57759,http://data.europa.eu/esco/occupation/7f346896...,church usher,http://data.europa.eu/esco/occupation/7f346896...,usher

In [44]:
pd.set_option('display.max_colwidth', None)
df_pool_1.query("conceptUri == 'http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505'").altLabels

2884    royal airforce officer\nflight lieutenant\nflight officer\nair commodore\nmilitary group captain\ncommand and control officer\npilot officer\nsquadron leader
Name: altLabels, dtype: object

In [45]:
df_talent_clef.query("esco_id == 'http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505'")

,esco_id,raw_title
0,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air commodore
1,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,command and control officer
2,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air commodore
3,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,pilot officer
4,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,royal airforce officer
5,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,squadron leader
6,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,military group captain
7,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,squadron leader
8,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,flight lieutenant
9,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air commodore
28880,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,flight lieutenant
28881,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,flight officer
28882,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,command and control officer
28883,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,squadron leader
28884,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,command and control officer
28885,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,command and control officer
28886,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,flight officer
28887,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,flight officer
28888,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,royal airforce officer
28889,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,squadron leader

In [5]:
df_talent_clef_train = pd.read_csv('/dss/dsshome1/02/ra95kix2/thesis/skills4cpp/data/talent_clef/TaskA/training/english/taskA_training_en.tsv', sep='\t', header=None)

In [6]:
df_talent_clef_train.columns = ['esco_cat', 'esco_id', 'raw_title_1', 'raw_title_2']

In [ ]:
df_talent_clef_train.query("esco_id == 'http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505'")

,esco_cat,esco_id,raw_title_1,raw_title_2
0,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978...,air commodore,flight lieutenant
1,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978...,command and control officer,flight officer
2,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978...,air commodore,command and control officer
3,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978...,pilot officer,squadron leader
4,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978...,royal airforce officer,command and control officer
5,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978...,squadron leader,command and control officer
6,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978...,military group captain,flight officer
7,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978...,squadron leader,flight officer
8,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978...,flight lieutenant,royal airforce officer
9,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978...,air commodore,squadron leader

In [12]:
pd.set_option('display.max_colwidth', None)
df_pool_1.query("conceptUri == 'http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505'").altLabels

2884    royal airforce officer\nflight lieutenant\nflight officer\nair commodore\nmilitary group captain\ncommand and control officer\npilot officer\nsquadron leader
Name: altLabels, dtype: object

In [19]:
# expand dataset with altlabels (split by \n)
df_pool_1_expanded = df_pool_1.copy()
df_pool_1_expanded['altLabels'] = df_pool_1_expanded['altLabels'].apply(lambda x: x.split('\n') if isinstance(x, str) else [])
df_pool_1_expanded = df_pool_1_expanded.explode('altLabels')
df_pool_1_expanded.head()

,conceptType,conceptUri,iscoGroup,preferredLabel,altLabels,hiddenLabels,status,modifiedDate,regulatedProfessionNote,scopeNote,definition,inScheme,description,code
0,Occupation,http://data.europa.eu/esco/occupation/00030d09-2b3a-4efd-87cc-c4ea39d27c34,2654,technical director,technical and operations director,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/occupations,\nhttp://data.europa.eu/esco/concept-scheme/member-occupations","Technical directors realise the artistic visions of the creators within technical constraints. They coordinate the operations of various production units, such as scene, wardrobe, sound and lighting, and make-up. They adapt the prototype and study the feasibility, implementation, operation and technical monitoring of the artistic project. They are also responsible for the stage equipment and technical equipment.",2654.1.7
0,Occupation,http://data.europa.eu/esco/occupation/00030d09-2b3a-4efd-87cc-c4ea39d27c34,2654,technical director,head of technical,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/occupations,\nhttp://data.europa.eu/esco/concept-scheme/member-occupations","Technical directors realise the artistic visions of the creators within technical constraints. They coordinate the operations of various production units, such as scene, wardrobe, sound and lighting, and make-up. They adapt the prototype and study the feasibility, implementation, operation and technical monitoring of the artistic project. They are also responsible for the stage equipment and technical equipment.",2654.1.7
0,Occupation,http://data.europa.eu/esco/occupation/00030d09-2b3a-4efd-87cc-c4ea39d27c34,2654,technical director,director of technical arts,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/occupations,\nhttp://data.europa.eu/esco/concept-scheme/member-occupations","Technical directors realise the artistic visions of the creators within technical constraints. They coordinate the operations of various production units, such as scene, wardrobe, sound and lighting, and make-up. They adapt the prototype and study the feasibility, implementation, operation and technical monitoring of the artistic project. They are also responsible for the stage equipment and technical equipment.",2654.1.7
0,Occupation,http://data.europa.eu/esco/occupation/00030d09-2b3a-4efd-87cc-c4ea39d27c34,2654,technical director,head of technical department,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/occupations,\nhttp://data.europa.eu/esco/concept-scheme/member-occupations","Technical directors realise the artistic visions of the creators within technical constraints. They coordinate the operations of various production units, such as scene, wardrobe, sound and lighting, and make-up. They adapt the prototype and study the feasibility, implementation, operation and technical monitoring of the artistic project. They are also responsible for the stage equipment and technical equipment.",2654.1.7
0,Occupation,http://data.europa.eu/esco/occupation/00030d09-2b3a-4efd-87cc-c4ea39d27c34,2654,technical director,technical supervisor,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/occupations,\nhttp://data.europa.eu/esco/concept-scheme/member-occupations","Technical directors realise the artistic visions of the creators within technical constraints. They coordinate the operations of various production units, such as scene, wardrobe, sound and lighting, and make-up. They adapt the prototype and study the feasibility, implementation, operation and technical monitoring of the artistic project. They are also responsible for the stage equipment and technical equipment.",2654.1.7

In [22]:
df_talent_clef_train.query("esco_id == 'http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505'").merge(
    df_pool_1_expanded[['conceptUri', 'preferredLabel', 'altLabels']], left_on='raw_title_2', right_on='altLabels', how='left'
)

,esco_cat,esco_id,raw_title_1,raw_title_2,conceptUri,preferredLabel,altLabels
0,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air commodore,flight lieutenant,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air force officer,flight lieutenant
1,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,command and control officer,flight officer,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air force officer,flight officer
2,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air commodore,command and control officer,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air force officer,command and control officer
3,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,pilot officer,squadron leader,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air force officer,squadron leader
4,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,royal airforce officer,command and control officer,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air force officer,command and control officer
5,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,squadron leader,command and control officer,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air force officer,command and control officer
6,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,military group captain,flight officer,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air force officer,flight officer
7,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,squadron leader,flight officer,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air force officer,flight officer
8,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,flight lieutenant,royal airforce officer,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air force officer,royal airforce officer
9,http://data.europa.eu/esco/isco/C0110,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air commodore,squadron leader,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,air force officer,squadron leader

In [25]:
df_pool_1_expanded[['conceptUri', 'preferredLabel', 'altLabels']].info()

# fill altlabels with preferredLabel if altLabels is NaN
df_pool_1_expanded['altLabels'] = df_pool_1_expanded['altLabels'].fillna(df_pool_1_expanded['preferredLabel'])

# drop preferredLabel column
#df_pool_1_expanded = df_pool_1_expanded.drop(columns=['preferredLabel'])

# rename altLabels to title_2
#df_pool_1_expanded.rename(columns={'altLabels': 'preferredLabel'}, inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 30401 entries, 0 to 3038
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   conceptUri      30401 non-null  object
 1   preferredLabel  30401 non-null  object
 2   altLabels       30373 non-null  object
dtypes: object(3)
memory usage: 950.0+ KB

In [27]:
# drop preferredLabel column
df_pool_1_expanded = df_pool_1_expanded.drop(columns=['preferredLabel'])

# rename altLabels to title_2
df_pool_1_expanded.rename(columns={'altLabels': 'preferredLabel'}, inplace=True)

In [28]:
df_pool_1_expanded.to_csv('../data/occupations_en_expanded.csv', index=False)

In [30]:
df_pool_1_expanded.query("conceptUri == 'http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505'")

,conceptType,conceptUri,iscoGroup,preferredLabel,hiddenLabels,status,modifiedDate,regulatedProfessionNote,scopeNote,definition,inScheme,description,code
2884,Occupation,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,110,royal airforce officer,NaN,released,2024-01-18T12:19:47.056Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/member-occupations,\nhttp://data.europa.eu/esco/concept-scheme/occupations","Air force officers specialise in flying or ground duties, and supervise a team of air force personnel. They coordinate their team's training and welfare, and perform duties specific to their area of specialisation.",0110.1
2884,Occupation,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,110,flight lieutenant,NaN,released,2024-01-18T12:19:47.056Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/member-occupations,\nhttp://data.europa.eu/esco/concept-scheme/occupations","Air force officers specialise in flying or ground duties, and supervise a team of air force personnel. They coordinate their team's training and welfare, and perform duties specific to their area of specialisation.",0110.1
2884,Occupation,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,110,flight officer,NaN,released,2024-01-18T12:19:47.056Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/member-occupations,\nhttp://data.europa.eu/esco/concept-scheme/occupations","Air force officers specialise in flying or ground duties, and supervise a team of air force personnel. They coordinate their team's training and welfare, and perform duties specific to their area of specialisation.",0110.1
2884,Occupation,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,110,air commodore,NaN,released,2024-01-18T12:19:47.056Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/member-occupations,\nhttp://data.europa.eu/esco/concept-scheme/occupations","Air force officers specialise in flying or ground duties, and supervise a team of air force personnel. They coordinate their team's training and welfare, and perform duties specific to their area of specialisation.",0110.1
2884,Occupation,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,110,military group captain,NaN,released,2024-01-18T12:19:47.056Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/member-occupations,\nhttp://data.europa.eu/esco/concept-scheme/occupations","Air force officers specialise in flying or ground duties, and supervise a team of air force personnel. They coordinate their team's training and welfare, and perform duties specific to their area of specialisation.",0110.1
2884,Occupation,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,110,command and control officer,NaN,released,2024-01-18T12:19:47.056Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/member-occupations,\nhttp://data.europa.eu/esco/concept-scheme/occupations","Air force officers specialise in flying or ground duties, and supervise a team of air force personnel. They coordinate their team's training and welfare, and perform duties specific to their area of specialisation.",0110.1
2884,Occupation,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,110,pilot officer,NaN,released,2024-01-18T12:19:47.056Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/member-occupations,\nhttp://data.europa.eu/esco/concept-scheme/occupations","Air force officers specialise in flying or ground duties, and supervise a team of air force personnel. They coordinate their team's training and welfare, and perform duties specific to their area of specialisation.",0110.1
2884,Occupation,http://data.europa.eu/esco/occupation/f2cc5978-e45c-4f28-b859-7f89221b0505,110,squadron leader,NaN,released,2024-01-18T12:19:47.056Z,http://data.europa.eu/esco/regulated-professions/unregulated,NaN,NaN,"http://data.europa.eu/esco/concept-scheme/member-occupations,\nhttp://data.europa.eu/esco/concept-scheme/occupations","Air force officers specialise in flying or ground duties, and supervise a team of air force personnel. They coordinate their team's training and welfare, and perform duties specific to their area of specialisation.",0110.1

In [33]:
df_pool_1_expanded.groupby('conceptUri').preferredLabel.nunique().sort_values(ascending=False).head(20)

conceptUri
http://data.europa.eu/esco/occupation/22799921-76a1-44c4-a7c3-c6a548e8ad85    89
http://data.europa.eu/esco/occupation/bc6649ff-05f8-4c98-9db6-9be0d13883a9    52
http://data.europa.eu/esco/occupation/b3ebf55f-5e50-4262-946a-f08d7fbe29b2    52
http://data.europa.eu/esco/occupation/66542dd6-05a6-4d9e-97ff-3f4858c31ff9    47
http://data.europa.eu/esco/occupation/f6803a58-91d9-4251-9a07-09fc387cec16    47
http://data.europa.eu/esco/occupation/082c234c-0dda-490a-b5af-757c3e48da90    46
http://data.europa.eu/esco/occupation/0ec62c2e-30c9-434e-bf36-5277a0840450    46
http://data.europa.eu/esco/occupation/4f5e4fb1-58bd-4abd-bb06-4af9203a1518    45
http://data.europa.eu/esco/occupation/7a18e959-44fe-49ae-9757-124f46a7487c    45
http://data.europa.eu/esco/occupation/8ec8df02-e9dd-43b7-b416-5846ae0414ab    41
http://data.europa.eu/esco/occupation/77abfaec-a250-4765-95fa-6091e8da1bba    41
http://data.europa.eu/esco/occupation/1084e2d6-b153-4090-8065-c9231f71d4f0    41
http://data.europa.eu/esco/occupation/7a523273-9fff-4f11-beb6-110eeaec1436    41
http://data.europa.eu/esco/occupation/16ad07cd-2fd2-4f93-b442-89918c10bbbf    38
http://data.europa.eu/esco/occupation/1de948c1-192a-4810-afb7-48548217a912    37
http://data.europa.eu/esco/occupation/e7ef8a86-6acd-458d-bf48-634b8fd28950    37
http://data.europa.eu/esco/occupation/11df8941-508c-4103-ad40-52cdf9430a59    36
http://data.europa.eu/esco/occupation/aa3780b7-3b06-40ae-8764-293fec6819d2    35
http://data.europa.eu/esco/occupation/f8304b4c-1220-4979-b2dd-47d2a2f0734a    34
http://data.europa.eu/esco/occupation/1d8545df-e3d8-4ece-9449-0f2940e97e7c    34
Name: preferredLabel, dtype: int64

In [34]:
df_pool_1_expanded.groupby('preferredLabel').conceptUri.nunique().sort_values(ascending=False).head(20)

preferredLabel
geologist                      5
court usher                    5
general manager                5
assembly inspector             4
maintenance electrician        4
driving instructor             4
environmental scientist        4
bailiff                        4
operations manager             4
customer service manager       4
park ranger                    4
driver education instructor    4
construction welder            3
construction worker            3
geo-technician                 3
manufacturing engineer         3
cybersecurity specialist       3
caster                         3
process engineer               3
surveyor                       3
Name: conceptUri, dtype: int64

In [36]:
df_talent_clef_train.query("raw_title_1 == 'geologist'")

,esco_cat,esco_id,raw_title_1,raw_title_2
3732,http://data.europa.eu/esco/isco/C2114,http://data.europa.eu/esco/occupation/c6196b21-20f9-4608-83fb-6f143afc740d,geologist,sedimentologist
3806,http://data.europa.eu/esco/isco/C2114,http://data.europa.eu/esco/occupation/1790c821-c582-4944-8597-d2d4a66f6a6d,geologist,mine geologist
4595,http://data.europa.eu/esco/isco/C2143,http://data.europa.eu/esco/occupation/a7358961-46d4-4715-ac1e-6148fd042510,geologist,environmental advisor
11937,http://data.europa.eu/esco/isco/C3111,http://data.europa.eu/esco/occupation/84cb6e91-ce11-409e-9306-23c9698631af,geologist,soil technician
12716,http://data.europa.eu/esco/isco/C3117,http://data.europa.eu/esco/occupation/e9665bdf-2989-4dc5-9aa9-7b791e489779,geologist,surface logging specialist

## Checking real talent clef data

In [2]:
import pandas as pd

In [7]:
# load /dss/dsshome1/02/ra95kix2/thesis/skills4cpp/data/talent_clef/TaskA/validation/english/corpus_elements (text file)
df_talent_clef_corpus = pd.read_csv('/dss/dsshome1/02/ra95kix2/thesis/skills4cpp/data/talent_clef/TaskA/validation/english/corpus_elements', sep='\t', header=0)

In [18]:
df_talent_clef_queries = pd.read_csv('/dss/dsshome1/02/ra95kix2/thesis/skills4cpp/data/talent_clef/TaskA/validation/english/queries', sep='\t', header=0)

In [21]:
df_talent_clef_qrels = pd.read_csv('/dss/dsshome1/02/ra95kix2/thesis/skills4cpp/data/talent_clef/TaskA/validation/english/qrels.tsv', sep='\t', header=None)

In [22]:
df_talent_clef_qrels

        0  1     2  3
0       1  0   143  1
1       1  0   150  1
2       1  0   764  1
3       1  0   870  1
4       1  0  1464  1
...   ... ..   ... ..
2415  105  0  2123  1
2416  105  0  2144  1
2417  105  0  2356  1
2418  105  0  2400  1
2419  105  0  2455  1

[2420 rows x 4 columns]

In [10]:
df_pool_1 = pd.read_csv('../data/occupations_en.csv')

df_pool_1_expanded = df_pool_1.copy()
df_pool_1_expanded['altLabels'] = df_pool_1_expanded['altLabels'].apply(lambda x: x.split('\n') if isinstance(x, str) else [])
df_pool_1_expanded = df_pool_1_expanded.explode('altLabels')

In [11]:
df_talent_clef_queries.shape

(105, 2)

In [12]:
df_talent_clef_corpus.shape

(2619, 2)

In [13]:
df_talent_clef_corpus

      c_id                          jobtitle
0        1                recording engineer
1        2              director of taxation
2        3  technical support representative
3        4                        hr manager
4        5           computer graphic artist
...    ...                               ...
2614  2615                real estate broker
2615  2616       end user support specialist
2616  2617           implementation engineer
2617  2618   strategy and operations manager
2618  2619              emergency dispatcher

[2619 rows x 2 columns]

In [16]:
df_talent_clef_queries

     q_id                   jobtitle
0       1                      nanny
1       2          food technologist
2       3         broadcast engineer
3       4        automation engineer
4       5               veterinarian
..    ...                        ...
100   101  elementary school teacher
101   102    trade marketing analyst
102   103                 agronomist
103   104        biomedical engineer
104   105                  publisher

[105 rows x 2 columns]

In [14]:
df_talent_clef_corpus.merge(df_pool_1[['preferredLabel', 'conceptUri']], left_on='jobtitle', right_on='preferredLabel', how='left')

      c_id                          jobtitle preferredLabel conceptUri
0        1                recording engineer            NaN        NaN
1        2              director of taxation            NaN        NaN
2        3  technical support representative            NaN        NaN
3        4                        hr manager            NaN        NaN
4        5           computer graphic artist            NaN        NaN
...    ...                               ...            ...        ...
2614  2615                real estate broker            NaN        NaN
2615  2616       end user support specialist            NaN        NaN
2616  2617           implementation engineer            NaN        NaN
2617  2618   strategy and operations manager            NaN        NaN
2618  2619              emergency dispatcher            NaN        NaN

[2619 rows x 4 columns]

In [24]:
df_pool_1_expanded.head()

,conceptType,conceptUri,iscoGroup,preferredLabel,altLabels,hiddenLabels,status,modifiedDate,regulatedProfessionNote,scopeNote,definition,inScheme,description,code
0,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2654,technical director,technical and operations director,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/occu...,Technical directors realise the artistic visio...,2654.1.7
0,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2654,technical director,head of technical,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/occu...,Technical directors realise the artistic visio...,2654.1.7
0,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2654,technical director,director of technical arts,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/occu...,Technical directors realise the artistic visio...,2654.1.7
0,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2654,technical director,head of technical department,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/occu...,Technical directors realise the artistic visio...,2654.1.7
0,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2654,technical director,technical supervisor,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/occu...,Technical directors realise the artistic visio...,2654.1.7

In [29]:
df_talent_clef_corpus.merge(df_pool_1_expanded[['altLabels', 'conceptUri']], left_on='jobtitle', right_on='altLabels', how='left').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2710 entries, 0 to 2709
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   c_id        2710 non-null   int64
 1   jobtitle    2710 non-null   object
 2   altLabels   552 non-null    object
 3   conceptUri  552 non-null    object
dtypes: int64(1), object(3)
memory usage: 84.8+ KB

In [30]:
df_talent_clef_corpus.merge(df_pool_1_expanded[['preferredLabel', 'conceptUri']], left_on='jobtitle', right_on='preferredLabel', how='left').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4325 entries, 0 to 4324
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   c_id            4325 non-null   int64
 1   jobtitle        4325 non-null   object
 2   preferredLabel  1875 non-null   object
 3   conceptUri      1875 non-null   object
dtypes: int64(1), object(3)
memory usage: 135.3+ KB

In [23]:
df_pool_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3039 entries, 0 to 3038
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conceptType              3039 non-null   object
 1   conceptUri               3039 non-null   object
 2   iscoGroup                3039 non-null   int64
 3   preferredLabel           3039 non-null   object
 4   altLabels                3011 non-null   object
 5   hiddenLabels             8 non-null      object
 6   status                   3039 non-null   object
 7   modifiedDate             3039 non-null   object
 8   regulatedProfessionNote  3039 non-null   object
 9   scopeNote                307 non-null    object
 10  definition               8 non-null      object
 11  inScheme                 3039 non-null   object
 12  description              3039 non-null   object
 13  code                     3039 non-null   object
dtypes: int64(1), object(13)
memory usage: 332.5+ KB

In [26]:
df_pool_1_expanded.query('altLabels == "head of technical"')

,conceptType,conceptUri,iscoGroup,preferredLabel,altLabels,hiddenLabels,status,modifiedDate,regulatedProfessionNote,scopeNote,definition,inScheme,description,code
0,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2654,technical director,head of technical,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/occu...,Technical directors realise the artistic visio...,2654.1.7

In [27]:
df_ready = pd.read_csv('/dss/dsshome1/02/ra95kix2/thesis/skills4cpp/data/occupations_en_expanded.csv')

In [28]:
df_ready.head()

,conceptType,conceptUri,iscoGroup,preferredLabel,hiddenLabels,status,modifiedDate,regulatedProfessionNote,scopeNote,definition,inScheme,description,code
0,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2654,technical and operations director,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/occu...,Technical directors realise the artistic visio...,2654.1.7
1,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2654,head of technical,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/occu...,Technical directors realise the artistic visio...,2654.1.7
2,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2654,director of technical arts,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/occu...,Technical directors realise the artistic visio...,2654.1.7
3,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2654,head of technical department,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/occu...,Technical directors realise the artistic visio...,2654.1.7
4,Occupation,http://data.europa.eu/esco/occupation/00030d09...,2654,technical supervisor,NaN,released,2024-01-25T11:28:50.295Z,http://data.europa.eu/esco/regulated-professio...,NaN,NaN,http://data.europa.eu/esco/concept-scheme/occu...,Technical directors realise the artistic visio...,2654.1.7

In [1]:
import pandas as pd 
df = pd.read_csv('/dss/dsshome1/02/ra95kix2/thesis/skills4cpp/data/title_pairs_desc/decorte_test_pairs.csv')

In [9]:
pd.set_option('display.max_colwidth', None)
df.iloc[4]

raw_title                                                                                                                                                                                                                                                                                                                                                                                                                             Lead Cook
raw_description     - Put in product orders for the Restaurant.\n- Set the kitchen schedules.\n- Monitored our cooks while they prepped for the day.\n- Hired new cooks.\n- Conducted monthly restaurant inspections.\n- Worked as the window man on busy nights (Call out order times, and completed plates with garnishes, as well as double checked recipes before servers took them to our guest)\n- Maintained menu items and the recipes.
esco_title                                                                                                                                                                                                                                                                                                                                                                                                                            head chef
esco_description                                                                                                                                                                                                                                                                                                                                         Head chefs manage the kitchen to oversee the preparation, cooking and service of food.
esco_id                                                                                                                                                                                                                                                                                                                                                              http://data.europa.eu/esco/occupation/01484951-15e6-4b88-a20f-1201868d36a0
Name: 4, dtype: object

In [8]:
df

,raw_title,raw_description,esco_title,esco_description,esco_id
0,Chef de Cuisine,"Worked with executive chef to develop and execute a daily-changing menu in a fine-dining establishment. Tasted and smelled all prepared dishes, and observed color, texture and garnishes. Initiated and maintained relationships with local farmers and ranchers to bring guests the highest quality ingredients while maintaining appropriate food and labor costs.",head chef,"Head chefs manage the kitchen to oversee the preparation, cooking and service of food.",http://data.europa.eu/esco/occupation/01484951-15e6-4b88-a20f-1201868d36a0
1,Chef/General Manager,"Developed food and beverage menu for a new fast-casual restaurant. Created standardized recipes to maintain quality control. Handled all hiring, training, scheduling and payroll. Provided courteous and informative customer service in an open kitchen format.",restaurant manager,Restaurant managers are in charge of managing food and beverage operations in the kitchen and other food and beverage outlets or units in a hospitality establishment.,http://data.europa.eu/esco/occupation/d5eb6150-bbff-4a9c-9d0c-21eab4dbe2b6
2,Executive Chef,"Co-ordinated and executed meals for various corporate clients; from parties ranging from 20 to 500 guests. Implemented new cooking techniques and organizational protocols to lower food and labor cost. Managed daily kitchen operations; identified and provided solutions for any problem areas. Developed new menus in accordance with guests dietary needs and restrictions; vegan/vegetarian, gluten-free, etc.",head chef,"Head chefs manage the kitchen to oversee the preparation, cooking and service of food.",http://data.europa.eu/esco/occupation/01484951-15e6-4b88-a20f-1201868d36a0
3,"Lead Cook/Kitchen Trainer, Kitchen Manager","- Cook and Prepare meals for our guest.\n- Responsible to train all new kitchen cooks and dishwashers.\n- Keep control of the night shifts in the kitchen.\n- Train new kitchen employees at the 4 locations around Cleveland (Strongsville, Westlake, Downtown Cleveland, And Beachwood OH)\n- Discuss and review our cook assistants with our sous chef and Kitchen manager and General Manager\n- I started out as a prep cook in the back learning the menu for about two months then moved up to line cook for six months before I became a Lead Cook.",cook,"Cooks are culinary operatives who are able to prepare and present food, normally in domestic and institutional environments.",http://data.europa.eu/esco/occupation/90f75f67-495d-49fa-ab57-2f320e251d7e
4,Lead Cook,"- Put in product orders for the Restaurant.\n- Set the kitchen schedules.\n- Monitored our cooks while they prepped for the day.\n- Hired new cooks.\n- Conducted monthly restaurant inspections.\n- Worked as the window man on busy nights (Call out order times, and completed plates with garnishes, as well as double checked recipes before servers took them to our guest)\n- Maintained menu items and the recipes.",head chef,"Head chefs manage the kitchen to oversee the preparation, cooking and service of food.",http://data.europa.eu/esco/occupation/01484951-15e6-4b88-a20f-1201868d36a0
...,...,...,...,...,...
921,Loan Modification Underwriter,"Reviewed and analyzed borrower documentation to determine income, repayment ability, and borrower hardship. Analyzed housing expenses and determined proper loan resolution. Specialized in Chase, BAU, HAMP, Freddie Mac, Fannie Mae, and FHA loans. Reviewed foreclosure prevention alternatives to ensure compliance with investor/insurer guidelines. Analyzed delinquency, performed escrow analysis, assessed modification scenarios, and recommended appropriate loan workouts. Received 3 awards for outstanding quality and production.",mortgage loan underwriter,Mortgage loan underwriters ensure compliance with underwriting guidelines. They participate in the implementation of new underwriting guidelines. They also review closed and denied loans.,http://data.europa.eu/esco/occupation/ab5a5073-453c-4a93-aff7-345a19f8b954
922,Risk Specialist,"Integrated partner with Home Loans business leaders to ensure proper execution of risk management process. Identified, designed, and executed appropriate risk management processes for a well-managed business. Responsible for standard risk reporting management and input/updates for various reports.",corporate risk manager,"Corporate risk managers identify and assess potential threats and opportunities to a company, and give advice on how to deal with them. They create preventive plans to avoid and reduce risks, and put plans in place for when the company is threatened. They coordinate risk management aspects across the different functions of an organisation and are responsible for technical activities such as risk assessment, risk mapping and insurance purchase. They report on risk issues to the senior management and the company's board.",http://data.europa.eu/esco/occupation/b09acdda-6680-49d1-a411-129610ee3bc0
923,Test Engineer,- Understood business and system requirements.\n- Prepared test data and wrote test cases.\n- Developed QTP scripts for assigned test cases.\n- Participated in team meetings and suggested improvements.\n- Prepared daily and weekly status reports.\n- Automated activities of the Insurance Management System.\n- Tested a web-based E-Banking system for savings account customers.\nNote: The provided information has been condensed for brevity.,test engineer,Test engineers plan and perform detailed quality tests during various phases of the design process to make sure that the systems are properly installed and function correctly. They analyse the data collected during tests and produce reports. They are also responsible for the safety of the test operations.,http://data.europa.eu/esco/occupation/c8fa93eb-7c2c-42c3-b135-c2e825a6615e
924,Quality Analyst,"- Tested Google Play Store and Google Maps Mobile and Desktop applications.\n- Conducted functional and integration testing for various mobile apps on Google Play Store.\n- Designed test plans and wrote test cases for new product features.\n- Generated reports after manual execution of test cases.\n- Developed automation test cases using the GoogleUIAutomator testing framework.\n- Tested Google Maps on different browsers and mobile devices.\n- Reviewed data added to Google Maps before going live.\n- Identified, reported, and tracked bugs using the Buganizer tool.\n- Managed and mentored a team of 20 people.\n- Participated in meetings to suggest improvements for the testing process.",ICT test analyst,"ICT test analysts work in testing environments, assessing products, checking for quality and accuracy, or creating tests scripts. They design tests which are then implemented by testers.",http://data.europa.eu/esco/occupation/0ab5c12c-c1c1-4772-8345-aa287d0e391d
925,Test Analyst-Intern/Contractor,"- Conducted system testing and functional testing on E-commerce websites, ensuring they meet functional specifications.\n- Conducted cross-browser and cross-platform testing on various devices.\n- Analyzed requirements and communicated with BA, developers, and project coordinators.\n- Wrote test cases based on functional specifications.\n- Performed integration testing for websites integrated with external systems.\n- Worked on both responsive and non-responsive websites.\n- Tested promotions and assessed support issues.\n- Participated in meetings and company meetings for process improvement.",ICT test analyst,"ICT test analysts work in testing environments, assessing products, checking for quality and accuracy, or creating tests scripts. They design tests which are then implemented by testers.",http://data.europa.eu/esco/occupation/0ab5c12c-c1c1-4772-8345-aa287d0e391d